asgiref==3.8.1
beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
coverage==7.8.0
cryptography==44.0.3
curl_cffi==0.10.0
defusedxml==0.7.1
dj-database-url==2.3.0
Django==5.2
django-cors-headers==4.7.0
django-environ==0.12.0
djangorestframework==3.16.0
factory_boy==3.3.3
Faker==37.1.0
frozendict==2.4.6
google-auth==2.39.0
idna==3.10
iniconfig==2.1.0
multitasking==0.0.11
numpy==2.2.5
oauthlib==3.2.2
packaging==25.0
pandas==2.2.3
peewee==3.18.0
platformdirs==4.3.7
pluggy==1.5.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pytest==8.3.5
pytest-cov==6.1.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python3-openid==3.2.0
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.6.1
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.1
tzdata==2025.2
urllib3==2.4.0
yfinance==0.2.58
gunicorn>=20.1.0
whitenoise==6.4.0
